html {
    background-color: gray;
}

.game-area {
    border: 1px, solid black;
}

/* pole styles */

#pole1 {
    height: 300px;
    width: 10px;
    color: black;
    background-color: black;
    float: left;
    position: static;
    margin-top: 0%;
    margin-left: 20%;
}

#pole2 {
    height: 300px;
    width: 10px;
    color: black;
    background-color: black;
    float: center;
    position: static;
    margin-right: 50%;
    margin-left: 50%;
}

#pole3 {
    height: 300px;
    width: 10px;
    color: black;
    background-color: black;
    float: right;
    position: relative;
    margin-right: 20%;
    top: -300px;
}

/* disk styles */

#disk1 {
    text-align: center;
    height: 25px;
    width: 100px;
    color: red;
    background-color: red;
    margin-left: 20%;
}

#disk2 {
    text-align: center;
    height: 25px;
    width: 150px;
    color: blue;
    background-color: blue;
    margin-left: 20%;
}

#disk3 {
    text-align: center;
    height: 25px;
    width: 200px;
    color: green;
    background-color: green;
    margin-left: 20%;
}

/* score box styles */

#tally-box {

}

.moves {

}

/* drag styles */

.draggable.dragging {
    opacity: .5;
}