html {
    background-color: gray;
}

.game-area {
    border: 1px, solid black;
}

/* pole styles */

.poles {

}

#pole1 {
    height: 300px;
    width: 10px;
    color: black;
    background-color: black;
    float: left;
    position: static;
    margin-top: 0%;
    margin-left: 20%;
}

#pole2 {
    height: 300px;
    width: 10px;
    color: black;
    background-color: black;
    float: center;
    position: static;
    margin-right: 50%;
    margin-left: 50%;
}

#pole3 {
    height: 300px;
    width: 10px;
    color: black;
    background-color: black;
    float: right;
    position: relative;
    margin-right: 20%;
    top: -330px;
}

/* disk styles */

.disks {
    text-align: center;
}

#disk1 {
    text-align: center;
    height: 25px;
    width: 100px;
    color: red;
    background-color: red;
}

#disk2 {
    text-align: center;
    height: 25px;
    width: 200px;
    color: blue;
    background-color: blue;
}

#disk3 {
    text-align: center;
    height: 25px;
    width: 300px;
    color: green;
    background-color: green;
}

/* button styles */

#pole1-button {
    height: 25px;
    width: 25px;
}

#pole2-button {
    height: 25px;
    width: 25px;
}

#pole3-button {
    height: 25px;
    width: 25px;
}

#disk1-button {
    height: 25px;
    width: 25px;
    background-color: red;
}

#disk2-button {
    height: 25px;
    width: 25px;
    background-color: blue;
}

#disk3-button {
    height: 25px;
    width: 25px;
    background-color: green;
}

#tally-box {

}

.moves {

}